.header {
  font-size: 25px;
  text-transform: uppercase;
  line-height: 1.5;
}
.section-header {
  font-size: 25px;
  text-transform: uppercase;
  line-height: 1.5;
  background-color: #889966;
}
.h {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1.5;
}
.span {
  font-size: 25px;
  text-transform: uppercase;
  line-height: 1.5;
  background-color: #889966;
}
.head {
  border: 1px solid #ff0000;
  background-color: #889966;
}
